{
  "extends": ["alloy", "alloy/react", "alloy/typescript"],
  "env": {
    // Your environments (which contains several predefined global variables)
    //
    "browser": true,
    "node": true
    // mocha: true,
    // jest: true,
    // jquery: true
  },
  "rules": {
    // Customize your rules
    "@typescript-eslint/explicit-member-accessibility": "off"
  }
}
