/* .navBar > div {
  height: 30px;
  width: 120px;
  margin-top: 4px;
  text-align: center;
  line-height: 30px;
  font-weight: 600;
  border: 1px solid #eee;
} */

/* .navBar > div:hover {
  cursor: pointer;
  background-color: skyblue;
} */
/* .btn {
    height: 30px;
    width: 50px;
    border: 1px solid #eee;
  } */
.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
}
.content {
  height: 100%;
  width: calc(100% - 200px);
}
.navBar {
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: skyblue;
}
